@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --background-accent: #f3f3f3;
  --foreground: #171717;
  --foreground-accent: #333333;
  --primary: #3b82f6;
  --primary-saturated: #2563eb;
  --secondary: #f7fafc;
}

[data-theme='dark'] {
  --background: #1a202c;
  --background-accent: #313846;
  --foreground: #f7fafc;
  --foreground-accent: #dee0e0;
  --primary: #3b82f6;
  --primary-saturated: #2563eb;
  --secondary: #1a202c;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
